{{#if loading}}
  <div class="loader">Loading...</div>
{{/if}}

<div style="margin-left:20%">
    {{#each model as |restaraunt|}}
      <div class="restaraunt">
        <div>
          Name: {{restaraunt.name}}
        </div>
        <div>
          Location: {{restaraunt.location}}
        </div>
        <div>
          {{visited-button
            loading=false
            id=restaraunt.id
            visited=restaraunt.visited
            onclick=(action "switchVisitStatus")}}
        </div>
          {{delete-button
            restarauntId=restaraunt.id}}
    </div>
  {{/each}}
</div>

{{outlet}}
