{{#if loading}}
  <div class="loader">Loading...</div>
{{/if}}

<div style="margin-left:20%">
    {{#each model as |restaraunt|}}
      <div class="restaraunt">
        <div>
          Name: {{restaraunt.name}}
        </div>
        <div>
          Location: {{restaraunt.location}}
        </div>
        <div>
        {{!-- {{#if restaraunt.visited}}
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          Visited
        {{else}}
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          Not Visited
        {{/if}} --}}
        {{visited-button
          id=restaraunt.id
          visited=restaraunt.visited
          onclick=(action "switchVisitStatus")}}
        </div>
    </div>
  {{/each}}
</div>

{{outlet}}
